# Dependencies
go.sum
# vendor/

# Logs and temp files
*.log
*.tmp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# Build artifacts
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
__debug_bin*
/build

# Go specific
*.test
*.prof